.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-wrapper {
    display: flex;
    border-radius: 5px;
    margin: 50px;
    margin-left: 25%;
    margin-right: 25%;
    justify-content:space-around;
  }
  
  ::ng-deep .datatable-header-cell {
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    text-align: center;
}

::ng-deep .datatable-body-row {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}

::ng-deep .datatable-body-cell {
    border-right: 1px solid #ccc;
}

::ng-deep .datatable-body {
    border-top: 1px solid #8d9a9b;
    background-color: rgb(182, 175, 175);
}

::ng-deep .datatable-row-ends .datatable-body-cell:last-child {
    border-right: none;
}
